header{
    background-color: rgb(202, 180, 243);
    color: white;
 padding: 14px 40px;
 font-size: 20px;
}
.hd-left{
    display: flex;
    justify-content: space-between;
}
.hd-log{
    width: out;
    height: 30px;
}
.top{
    width: 100vw;
    height: 90vh;
    background-image: url("./cleo-vermij-wSct4rrBPWc-unsplash.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
}

#menu{
    display: none;
}

.top h1{
    font-size: 80px;
}

.about{
    margin-top: 30px;
}
.about span{
    font-size: 30px;
    font-weight:bold ;
    padding: 20px 40px;
}
.text-main{
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 30px ;
  
}


.text-main h2{
    font-size: 30px;
}
.main-box1{
    /* display: flex;
    align-items: center; */
    border: 1px solid black;
    margin: 20px 10px;

}
.work-p{
    padding: 50px;
}
.section-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 353.45px; */

    
}
.box1-img{
    max-width: 50%;
 
    }



.main-box2{
    /* display: flex;
    align-items: center; */
    border: 1px solid black;
    margin: 20px 10px;
    padding: 20px 20px;
  
}
/* .section-2{
    text-align: center;
} */
.box2-img{
max-width: 50%;
padding-top: 40px;
padding-bottom: 2px;

}
.main-box3{
    /* display: flex;
    align-items: center; */
    border: 1px solid black;
    margin: 20px 10px;
    
}
.section-1 ul{
   padding: 40px;
}
.box3-img{
    max-width: 55%;
    padding-top: 22px;
    }
    .gazo{

        max-width: 30%;
    }
    .contact div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px ;
    }
     .contact span{
        font-size: 30px;
        font-weight:bold ;
        padding: 20px 40px;
    }

    .contact button{
        margin: 20px;
        width: 100px;
        height: 50px;
        font-size: 25px;
        transition: background-color 2s linear 1s;
    }
    button:hover{
        background-color: hotpink;
    }

.foot{
width: 100vw;
height: 30px;
background-color: rgb(202, 180, 243);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}
.foot p{
    padding-left: 10px;
}

@media screen and (max-width:780px) {
.top{
    height: 50vh;
}
.top h1{
    font-size: 30px;
}

    .text-main{
        flex-direction: column;
    }
   .contact textarea{
       width: 50vw;
   }
    .foot{
        padding: 20px 0;
    }

    /* ハンバーガー */
    .menu{
        width: 30px;
        height: 30px;
        display: block;
    }
    .menu span,
    .menu span::before,
    .menu span::after{
        width: 100%;
        height: 5px;
        display: block;
        background-color: white;
        border-radius: 2px;
        transition: all 0.5 ease;
    }

    .menu span{
        position: relative;
        top: calc(50% - 2px);
    }
    
    .menu span::before,
    .menu span::after{
        content: '';
        position: absolute;
    }
    
    .menu span::before{
        top: -9px;
    }

    .menu span::after{
        top: 9px;
    }
    /* 真ん中 */

    #menu:checked + .menu span{
        background-color: transparent;
    }
    /* 上の線 */

 #menu:checked + .menu span::before{
        /* background-color: transparent; */
        transform: rotate(45deg)translate(5px,5px);
    }

/* 下の線 */
#menu:checked + .menu span::after{
    /* background-color: transparent; */
    transform: rotate(-45deg)translate(7px,-8px);
}

/* right */
.right{
    position: fixed;
    top: 68px;
    right: -200px;
    transition: all .5s ease;
    background-color: rgb(202, 180, 243,0.6);
height: 100vh;
padding: 0 20px;

}
.right p{
    display: block;
}
#menu:checked ~ .right{
    right: 0;
    top: 58px;
}

.header{
    position: fixed;
    width: calc(100% - 80px);
}
#menu{
    display: none;
}
}